
<nav id="main-nav"class="main-nav navbar navbar-expand-lg">
    <div class="">
        <div class="collapse navbar-collapse" id="navbarToggler">
            <!-- 'animated' class adds an animated burger menu, if you remove this class it will default to some placeholder svgs -->
            <button id="navbar-toggler" class="navbar-toggler animated" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation" tabindex="-1">
                <span class="navbar-toggler-icon"></span>
            </button>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a data-gtm-event-label="" class="btn btn-secondary" aria-current="page" href="">link 1</a>
                </li>
                <li class="nav-item">
                    <a data-gtm-event-label="" class="btn btn-secondary" aria-current="page" href="">link 2</a>
                </li>
                <li class="nav-item dropdown">
                    <button class="btn btn-secondary" data-gtm-event-label="" type="button" id="dropdown1" data-bs-toggle="dropdown" aria-expanded="false">dropdown</button>
                    <ul class="dropdown-menu" aria-labelledby="dropdown1">
                        <li>
                            <a data-gtm-event-label="" class="dropdown-item" href="" tabindex="0">
                                sublink 1
                            </a>
                        </li>
                        <li>
                            <a data-gtm-event-label="" class="dropdown-item" href="" tabindex="0">
                                sublink 2
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a data-gtm-event-label="" class="btn btn-secondary" aria-current="page" href="">link 3</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
