<header id="side-nav" class="side-nav col-2">
  <div class="side-nav-wrapper p-4">
    <h1 class="pt-3 pb-3">Accessible Components</h1>
    <ul class="pt-3">
      <li>
        <a href="/">Introduction</a>
      </li>
      <li>
        <a href="/accordion.html">Accordion</a>
      </li>
      <li>
        <a href="/links-buttons.html">Links and Buttons</a>
      </li>
      <li>
        <a href="/dropdown.html">Dropdown</a>
      </li>
      <li>
        <a href="/modal.html">Modal</a>
      </li>
      <li>
        <a href="/tooltip.html">Tooltip</a>
      </li>
    </ul>
  </div>
</header>

