// ==========================================================================
// Brand Colors
// ==========================================================================

$brand-darkblue: #21186A;
$brand-blue: #abdffd;
$brand-darkgrey: #343434;
$brand-lightgrey: #dcdddd;
$brand-gold: #ed702e;
$white: #fff;


$heroBG-color: $brand-blue;
